<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{title}}{% endblock title %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--<link rel="stylesheet"
    href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet"
	  href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
    <!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>-->
    <script src="/static/fridge.js"></script>
    {% block head %}{% endblock head %}
    <style type="text/css">
      td, th {
        padding-bottom: 35px;
        padding-right: 5px;
        vertical-align: top;
      }
    </style>

</head>


{% if messages %}
{% for message in messages %}
  <div class="alert alert-{{message.tags}} alert-dismissible"
  role="alert">{{ message }}
    <!--<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
  </div>
{% endfor %}
{% endif%}


<div class="container">
{% block body%}
{{ body|safe }}
{% endblock body%}
</div>
</body>

</html>
